<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.express.web.model.order_mapper.ordersMapper" >
  <resultMap id="BaseResultMap" type="com.express.web.model.order_model.orders" >
    <result column="orderId" property="orderid" jdbcType="BIGINT" />
    <result column="dotId" property="dotid" jdbcType="BIGINT" />
    <result column="sendTel" property="sendtel" jdbcType="VARCHAR" />
    <result column="sendAddr" property="sendaddr" jdbcType="VARCHAR" />
    <result column="orderdate" property="orderdate" jdbcType="TIMESTAMP" />
    <result column="receiveTel" property="receivetel" jdbcType="VARCHAR" />
    <result column="receiveAddr" property="receiveaddr" jdbcType="VARCHAR" />
    <result column="orderNum" property="ordernum" jdbcType="INTEGER" />
    <result column="weight" property="weight" jdbcType="VARCHAR" />
    <result column="money" property="money" jdbcType="DOUBLE" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="currentUser" property="currentuser" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.express.web.model.order_model.orders" >
    insert into orders (orderId, dotId, sendTel, 
      sendAddr, orderdate, receiveTel, 
      receiveAddr, orderNum, weight, 
      money, state, currentUser, 
      content)
    values (#{orderid,jdbcType=BIGINT}, #{dotid,jdbcType=BIGINT}, #{sendtel,jdbcType=VARCHAR}, 
      #{sendaddr,jdbcType=VARCHAR}, #{orderdate,jdbcType=TIMESTAMP}, #{receivetel,jdbcType=VARCHAR}, 
      #{receiveaddr,jdbcType=VARCHAR}, #{ordernum,jdbcType=INTEGER}, #{weight,jdbcType=VARCHAR}, 
      #{money,jdbcType=DOUBLE}, #{state,jdbcType=VARCHAR}, #{currentuser,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.express.web.model.order_model.orders" >
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        orderId,
      </if>
      <if test="dotid != null" >
        dotId,
      </if>
      <if test="sendtel != null" >
        sendTel,
      </if>
      <if test="sendaddr != null" >
        sendAddr,
      </if>
      <if test="orderdate != null" >
        orderdate,
      </if>
      <if test="receivetel != null" >
        receiveTel,
      </if>
      <if test="receiveaddr != null" >
        receiveAddr,
      </if>
      <if test="ordernum != null" >
        orderNum,
      </if>
      <if test="weight != null" >
        weight,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="currentuser != null" >
        currentUser,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        #{orderid,jdbcType=BIGINT},
      </if>
      <if test="dotid != null" >
        #{dotid,jdbcType=BIGINT},
      </if>
      <if test="sendtel != null" >
        #{sendtel,jdbcType=VARCHAR},
      </if>
      <if test="sendaddr != null" >
        #{sendaddr,jdbcType=VARCHAR},
      </if>
      <if test="orderdate != null" >
        #{orderdate,jdbcType=TIMESTAMP},
      </if>
      <if test="receivetel != null" >
        #{receivetel,jdbcType=VARCHAR},
      </if>
      <if test="receiveaddr != null" >
        #{receiveaddr,jdbcType=VARCHAR},
      </if>
      <if test="ordernum != null" >
        #{ordernum,jdbcType=INTEGER},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="currentuser != null" >
        #{currentuser,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>